@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin input {
  width: 100%;
	max-width: var(--input-max-width);
	padding: 12px 16px;

	font-size: 14px;
	font-weight: 500;
	
	border: none;
	border-radius: 6px;
	outline: 1px solid var(--white-lite-1);
	transition: outline .2s;
	&:focus {
		outline-color: var(--grey-light);
	}
}

@mixin textarea {
	@include input;
	max-width: var(--textarea-max-width);
	min-height: var(--textarea-min-height);
	resize: none;
}

